@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,900;1,400;1,500;1,600;1,900&family=Roboto:wght@400;700&display=swap');

.App{
  font-family: 'Nunito',sans-serif;
}

:root{
  --nav-color: hsl(210,11%,15%);
  --nav-color-hover:hsl(210,11%,45%);
  --nav-border-hover:hsl(210,11%,45%);
  --light-color:hsl(210,100%,92%);
  --font-color:hsl(0,0%,100%); 
  --font-color-hover:hsl(0,0%,40%);
}
.particles-bg-canvas-self{
  background: rgba(21, 22, 23,1);  
}